In [55]:
import numpy as np
import pandas as pd

In [56]:
pred = pd.read_csv('team-count.csv')

In [83]:
pred.head()

       image  predcount  imageid
0  00000.jpg          0        0
1  00001.jpg          0        1
2  00002.jpg          0        2
3  00003.jpg          0        3
4  00004.jpg          0        4

In [84]:
pred['imageid'] = pred.image.map(lambda x: int(x[:5]))

In [85]:
pred.describe()

        predcount     imageid
count  549.000000  549.000000
mean     1.415301  274.000000
std      1.203183  158.626921
min      0.000000    0.000000
25%      1.000000  137.000000
50%      1.000000  274.000000
75%      2.000000  411.000000
max      6.000000  548.000000

In [86]:
pred['predcount'].sum()

777

In [87]:
ground = pd.read_csv('name.csv')
ground.head()

                                                name  imageid  truecount
0  /home/rnam/Documents/ped/data/team500/2016-07-...        0          4
1  /home/rnam/Documents/ped/data/team500/2016-07-...        1          4
2  /home/rnam/Documents/ped/data/team500/2016-07-...        2          4
3  /home/rnam/Documents/ped/data/team500/2016-07-...        3          4
4  /home/rnam/Documents/ped/data/team500/2016-07-...        4          4

In [88]:
result = pd.merge(ground, pred, how='inner',on='imageid')

In [89]:
result.head(14)

,name,imageid,truecount,image,predcount
0,/home/rnam/Documents/ped/data/team500/2016-07-...,0,4,00000.jpg,0
1,/home/rnam/Documents/ped/data/team500/2016-07-...,1,4,00001.jpg,0
2,/home/rnam/Documents/ped/data/team500/2016-07-...,2,4,00002.jpg,0
3,/home/rnam/Documents/ped/data/team500/2016-07-...,3,4,00003.jpg,0
4,/home/rnam/Documents/ped/data/team500/2016-07-...,4,4,00004.jpg,0
5,/home/rnam/Documents/ped/data/team500/2016-07-...,5,4,00005.jpg,0
6,/home/rnam/Documents/ped/data/team500/2016-07-...,6,4,00006.jpg,0
7,/home/rnam/Documents/ped/data/team500/2016-07-...,7,4,00007.jpg,1
8,/home/rnam/Documents/ped/data/team500/2016-07-...,8,4,00008.jpg,0
9,/home/rnam/Documents/ped/data/team500/2016-07-...,9,4,00009.jpg,1
10,/home/rnam/Documents/ped/data/team500/2016-07-...,10,3,00010.jpg,1
11,/home/rnam/Documents/ped/data/team500/2016-07-...,11,3,00011.jpg,1
12,/home/rnam/Documents/ped/data/team500/2016-07-...,12,3,00012.jpg,0
13,/home/rnam/Documents/ped/data/team500/2016-07-...,13,3,00013.jpg,0

In [94]:
result.iloc[69]

name         /home/rnam/Documents/ped/data/team500/2016-07-...
imageid                                                     69
truecount                                                    3
image                                                00069.jpg
predcount                                                    1
Name: 69, dtype: object

In [93]:
result.truecount.sum()

3677

In [92]:
result['predcount'].sum()

777

In [97]:
result['absdiff'] = abs(result['truecount'] - result['predcount'])*1.0 / result['truecount']

In [96]:
(3677-777)*1.0/3677

0.7886864291542018

In [98]:
result['absdiff'].sum()/549

0.7560049496865375